@use '../helpers' as *;

.questions {
    &__inner {
        background: var(--color-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(64) rem(515);
        row-gap: rem(32);
        border-radius: rem(16);

        @include laptop-l {
            padding-inline: rem(265);
        }

        @include laptop {
            padding-inline: rem(135);
        }

        @include tablet {
            padding-inline: rem(70);
        }

        @include mobile-s {
            padding-inline: rem(35) ;
        }
    }


    &__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(24);

        @include mobile-l {
            grid-template-columns: 1fr;
        }
    }

    &__textarea {
        grid-column: 1/-1;
        min-height: rem(150);

        @include mobile-l {
            width: rem(200);
        }
    }

    &__button {
        grid-column: 1/-1;
    }

    &__input {
        @include mobile-l {
            width: rem(200);
        }
    }
}