@font-face {
    font-family: "Formular";
    src: url(../../UI/fonts/Formular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formular";
    src: url(../../UI/fonts/Formular-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formular";
    src: url(../../UI/fonts/Formular-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Formular";
    src: url(../../UI/fonts/Formular-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}