@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Formular";
  src: url(../../UI/fonts/Formular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formular";
  src: url(../../UI/fonts/Formular-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formular";
  src: url(../../UI/fonts/Formular-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Formular";
  src: url(../../UI/fonts/Formular-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #F9FAFB;
  --color-accent: #8B5CF6;
  --color-dark: #111827;
  --color-gray: #9CA3AF;
  --background-color: #E5E7EB;
  --font-family-base: "Formular", sans-serif;
  --container-width: 96rem;
  --container-padding-x: 3.6875rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.9375rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width >= 47.9375rem) {
  .visible-mobile {
    display: none !important;
  }
}

.fsize16 {
  font-size: 1rem !important;
}

.fsize24 {
  font-size: 1.5rem !important;
}

.fsize36-20 {
  font-size: 2.25rem !important;
}
@media (width <= 63.9375rem) {
  .fsize36-20 {
    font-size: 1.25rem !important;
  }
}

.fsize24-16 {
  font-size: clamp(1rem, 0.8269230769rem + 0.7692307692vw, 1.5rem) !important;
}

.fsize20 {
  font-size: 1.25rem !important;
}

.fsize30 {
  font-size: 1.875rem !important;
}

.fsize14 {
  font-size: 0.875rem !important;
}

.fsize18 {
  font-size: 1.125rem !important;
}

html.is-lock {
  overflow: hidden;
}
html.is-lock body {
  background-color: var(--color-dark-10);
}

body {
  font-size: clamp(1.5rem, 1.6298076923rem + -0.5769230769vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-dark);
  background-color: var(--background-color);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-weight: 900;
}

h5, .h5,
h6, .h6 {
  font-weight: 700;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.7451923077rem + 0.5769230769vw, 2.25rem);
  line-height: 1.1;
}

h2, .h2 {
  font-size: 1.875rem;
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.25rem, 0.9903846154rem + 1.1538461538vw, 2rem);
}

h4, .h4 {
  font-size: 1.125rem;
}

h5, .h5 {
  font-size: clamp(1.125rem, 0.9951923077rem + 0.5769230769vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9134615385rem + 0.3846153846vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-accent);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a {
  font-size: 1rem;
}

body.is-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

input {
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: transparent;
  border: 0.125rem solid var(--color-dark);
}
input::placeholder {
  color: var(--color-gray);
}
@media (width <= 47.9375rem) {
  input {
    width: 17.5rem;
  }
}
@media (width <= 26.5rem) {
  input {
    width: 11.25rem;
  }
}
@media (width <= 23.375rem) {
  input {
    width: 9.375rem;
  }
}

textarea {
  border-radius: 0.25rem;
  border: 0.125rem solid var(--color-dark);
  font-size: 1rem;
  padding: 0.75rem;
  resize: none;
}
textarea::placeholder {
  color: var(--color-gray);
}

.header {
  background-color: var(--color-light);
  padding-top: 1.5625rem;
}
@media (width <= 63.9375rem) {
  .header {
    padding-top: 0.5rem;
  }
}
.header__inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
@media (width <= 89.9375rem) {
  .header__inner {
    display: grid;
    grid-template-areas: "logo . phone" "nav nav nav" "info info info";
    align-items: center;
  }
}
@media (width <= 63.9375rem) {
  .header__inner {
    justify-content: space-between;
    row-gap: 0;
    margin-bottom: 0.5rem;
  }
}
.header__logo {
  flex-shrink: 0;
}
@media (width <= 89.9375rem) {
  .header__logo {
    grid-area: logo;
  }
}
@media (width <= 47.9375rem) {
  .header__logo {
    width: 12.8125rem;
  }
}
@media (width <= 23.375rem) {
  .header__logo {
    width: 9.6875rem;
  }
}
.header__logo-overlay {
  display: flex;
}
.header__logo-image {
  width: 19.0625rem;
  height: 4.625rem;
}
@media (width <= 63.9375rem) {
  .header__logo-image {
    width: 15.1875rem;
  }
}
.header__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 89.9375rem) {
  .header__extra {
    display: contents;
  }
}
.header__extra-info {
  display: flex;
  column-gap: 0.75rem;
  justify-content: end;
}
@media (width <= 89.9375rem) {
  .header__extra-info {
    display: contents;
  }
}
.header__extra-description {
  text-align: end;
}
@media (width <= 63.9375rem) {
  .header__extra-description:not(.is-overlay) {
    display: none;
  }
}
@media (width <= 89.9375rem) {
  .header__extra-description {
    order: 1;
    grid-area: info;
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 1.5rem;
  }
}
@media (width <= 63.9375rem) {
  .header__extra-description {
    margin-top: 1.5rem;
  }
}
@media (width <= 23.375rem) {
  .header__extra-description {
    display: none;
  }
}
@media (width <= 63.9375rem) {
  .header__extra-text {
    display: none;
  }
}
.header__extra-phone {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  border-left: 0.0625rem var(--color-accent) solid;
  padding-left: 0.75rem;
  text-align: right;
}
@media (width <= 89.9375rem) {
  .header__extra-phone {
    grid-area: phone;
    padding-left: 0;
    border-left: none;
    flex-direction: column;
    align-items: end;
  }
}
@media (width <= 63.9375rem) {
  .header__extra-phone {
    flex-direction: row;
    column-gap: 1rem;
  }
}
.header__extra-paragraph {
  font-size: 1rem;
}
@media (width <= 89.9375rem) {
  .header__extra-paragraph {
    font-size: 0.875rem;
    display: inline;
  }
}
@media (width <= 47.9375rem) {
  .header__extra-number {
    display: none;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
@media (width <= 63.9375rem) {
  .header__menu {
    padding-inline: 1.5rem;
  }
  .header__menu:not(.is-overlay) {
    display: none;
  }
}
@media (width <= 89.9375rem) {
  .header__menu {
    border-block: 0.125rem solid var(--color-accent);
    padding-block: 0.75rem;
    grid-area: nav;
    margin-bottom: 0;
  }
}
@media (width <= 47.9375rem) {
  .header__menu {
    flex-direction: column;
    align-items: center;
    row-gap: 0.9375rem;
  }
}
@media (width <= 23.375rem) {
  .header__menu {
    border-bottom: none;
  }
}
.header__list {
  display: flex;
  column-gap: 1.5rem;
}
@media (width <= 47.9375rem) {
  .header__list {
    flex-direction: column;
    row-gap: 0.3125rem;
    text-align: center;
  }
}
.header__link--active {
  color: var(--color-accent);
  border-bottom: 0.125rem dashed var(--color-accent);
  pointer-events: none;
}
.header__overlay {
  display: none;
}
@media (width <= 63.9375rem) {
  .header__overlay.is-active {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
  }
}
.header__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}

.section {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
@media (width <= 47.9375rem) {
  .section {
    margin-top: 3.25rem;
  }
}
@media (width <= 26.5rem) {
  .section {
    margin-top: 2rem;
  }
}
.section__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.section__subtitle {
  font-size: 1rem;
}

.btn {
  color: var(--color-light);
  background-color: var(--color-accent);
  padding: 0.625rem 1.75rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--color-accent);
  font-size: 1rem;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: transparent;
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  .btn:active {
    background-color: transparent;
    color: var(--color-accent);
  }
}
@media (width <= 63.9375rem) {
  .btn {
    padding: 0.3125rem 0.625rem;
  }
}

@media (width >= 63.9375rem) {
  .burger-button {
    display: none;
  }
}
@media (width <= 63.9375rem) {
  .burger-button {
    height: 1.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.125rem;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    justify-content: center;
  }
}
@media (width <= 63.9375rem) and (any-hover: hover) {
  .burger-button:hover {
    opacity: 0.7;
  }
}
@media (width <= 63.9375rem) and (any-hover: none) {
  .burger-button:active {
    opacity: 0.7;
  }
}
@media (width <= 63.9375rem) {
  .burger-button__line {
    display: flex;
    height: 0.25rem;
    width: 1.5rem;
    background-color: var(--color-accent);
    border-radius: 6.25rem;
  }
}

.hero__body {
  display: flex;
  column-gap: 1.5rem;
}
@media (width <= 159.9375rem) {
  .hero__body {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
.hero__text {
  row-gap: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}
@media (width <= 159.9375rem) {
  .hero__info {
    flex-direction: row;
    column-gap: 1rem;
  }
}
@media (width <= 89.9375rem) {
  .hero__info {
    flex-direction: column;
  }
}
.hero__image {
  width: 47.25rem;
  height: 22rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
@media (width <= 159.9375rem) {
  .hero__image {
    width: 31.5625rem;
    height: 14.5rem;
  }
}
@media (width <= 89.9375rem) {
  .hero__image {
    width: 100%;
    height: auto;
  }
}
.hero__calculator {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem 8.125rem;
  row-gap: 1.75rem;
  border-radius: 1rem;
}
@media (width <= 47.9375rem) {
  .hero__calculator {
    padding: 1.5rem 3.125rem;
  }
}
.hero__calculator-info {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.hero__calculator-title {
  font-weight: 700;
}
.hero__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (width <= 47.9375rem) {
  .hero__form {
    grid-template-columns: 1fr;
  }
}
.hero__form > *:first-child {
  grid-column: 1/-1;
}
@media (width <= 47.9375rem) {
  .hero__form > *:first-child {
    min-width: auto;
  }
}
.hero__form > *:last-child {
  grid-column: 1/-1;
}
@media (width <= 47.9375rem) {
  .hero__form > *:last-child {
    min-width: auto;
  }
}
.hero__form > *:not(:last-child):not(:first-child) {
  max-width: 13.25rem;
}
@media (width <= 159.9375rem) {
  .hero__form > *:not(:last-child):not(:first-child) {
    min-width: 16.6875rem;
  }
}
@media (width <= 89.9375rem) {
  .hero__form > *:not(:last-child):not(:first-child) {
    min-width: 15.5rem;
  }
}
@media (width <= 47.9375rem) {
  .hero__form > *:not(:last-child):not(:first-child) {
    min-width: 17.5rem;
  }
}
@media (width <= 26.5rem) {
  .hero__form > *:not(:last-child):not(:first-child) {
    min-width: 11.25rem;
  }
}
@media (width <= 23.375rem) {
  .hero__form > *:not(:last-child):not(:first-child) {
    min-width: 9.375rem;
  }
}

.about__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (width <= 159.9375rem) {
  .about__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 63.9375rem) {
  .about__body {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  column-gap: 0.75rem;
  padding: 1.5rem;
  align-items: center;
}
@media (width <= 47.9375rem) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.card__image {
  width: 8.5rem;
  height: 8.5rem;
  flex-shrink: 0;
}
@media (width <= 63.9375rem) {
  .card__image {
    width: 6.25rem;
    height: 6.25rem;
  }
}
.card__info {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.guarantees__body {
  display: flex;
  flex-direction: column;
  row-gap: 2.25rem;
  align-items: center;
}
.guarantees__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
}
@media (width <= 159.9375rem) {
  .guarantees__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
}
@media (width <= 63.9375rem) {
  .guarantees__list {
    grid-template-columns: 1fr;
  }
}
.guarantees__button {
  justify-content: center;
  border-radius: 0.75rem;
  text-align: center;
}
@media (width <= 63.9375rem) {
  .guarantees__button {
    align-self: normal;
  }
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 0.25rem;
}
.document__image {
  flex-shrink: 0;
  width: 22.875rem;
  height: 23.4375rem;
}
@media (width <= 47.9375rem) {
  .document__image {
    width: 18.75rem;
    height: auto;
  }
}
@media (width <= 26.5rem) {
  .document__image {
    width: 15.625rem;
  }
}
@media (width <= 23.375rem) {
  .document__image {
    width: 12.5rem;
  }
}

.reviews__body {
  display: flex;
  padding-inline: 1.4375rem;
  column-gap: 2.9375rem;
  align-items: center;
}
.reviews__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  column-gap: 1.5rem;
}
@media (width <= 89.9375rem) {
  .reviews__list {
    grid-template-columns: 1fr;
  }
}
@media (width <= 47.9375rem) {
  .reviews__list {
    display: none;
  }
}
.reviews__item {
  transition: opacity 0.3 ease, transform 0.3s ease;
}
.reviews__item.is-hidden {
  display: none;
}
@media (width <= 47.9375rem) {
  .reviews__button {
    display: none;
  }
}
.reviews__mobile-visible-button {
  text-align: center;
  border-radius: 1rem;
}
@media (width >= 47.9375rem) {
  .reviews__mobile-visible-button {
    display: none;
  }
}

.review {
  padding: 2rem 2.6875rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 21.875rem;
  justify-content: space-between;
}
@media (width <= 89.9375rem) {
  .review {
    height: 17.25rem;
  }
}
@media (width <= 63.9375rem) {
  .review {
    min-height: 17.5rem;
    height: auto;
  }
}
.review__text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  position: relative;
  z-index: 110;
}
.review__author {
  display: flex;
  align-items: end;
  font-weight: 300;
  color: var(--color-gray);
}
.review__decoration {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  z-index: 90;
}

.arrow-button {
  width: 3.75rem;
  min-width: 3.75rem;
  height: 3.75rem;
  border: none;
  border-radius: 50%;
}
.arrow-button--left {
  background: url(../../../UI/icons/reviews/button-left.svg) no-repeat;
}
.arrow-button--right {
  background: url(../../../UI/icons/reviews/button-right.svg) no-repeat;
}
.arrow-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.questions {
  background: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
}
.questions__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (width <= 47.9375rem) {
  .questions__form {
    grid-template-columns: 1fr;
  }
}
.questions__textarea {
  grid-column: 1/-1;
  min-height: 9.375rem;
}
@media (width <= 47.9375rem) {
  .questions__textarea {
    width: 12.5rem;
  }
}
.questions__button {
  grid-column: 1/-1;
}
@media (width <= 47.9375rem) {
  .questions__input {
    width: 12.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
